<h2><b>Pick the word that matches the definition below</b></h2>


<h3 class="<%= question_title(correct, wrong) %>">Definition: <%= @question.question_string %></h3>
<%= render 'answers/form', question: @question, disable: ( correct || wrong ), correct: correct, wrong: wrong %>
