<%= form_for(question, url: { action: :update, controller: :questions, lesson_module_id: @lesson_module.id }, remote: true) do |f| %>
  <div class="field">
    <%= f.label :question_string %><br>
    <%= f.text_area :question_string, size: "40x5" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
