<h2><b>Pick the word that fits in the _____ of the sentence below</b></h2>

<div id="question_id_<%= @question.id %>">
  <% if correct || wrong %>
      <%= render 'questions/answered_question', question: @question, correct: correct, wrong: wrong %>
  <% else %>
      <h3>Sentence: <%= @question.question_string %></h3>
      <%= render 'answers/form', question: @question, disable: ( correct || wrong ), correct: correct, wrong: wrong %>
  <% end %>
</div>