<h2><b>Pick the word that fits in the _____ of the sentence below</b></h2>


<h3 class="<%= question_title(correct, wrong) %>">Sentence: <%= @question.question_string %></h3>
<%= render 'answers/form', question: @question, disable: ( correct || wrong ), correct: correct, wrong: wrong %>
