<h2><b>Pick the word that matches the word form below</b></h2>

<% if correct || wrong %>
    <%= render 'questions/answered_question', question: @question, correct: correct, wrong: wrong %>
<% else %>
    <h3 class="<%= question_title(correct, wrong) %>">Word Form: <%= @question.question_string %></h3>
    <%= render 'answers/form', question: @question, correct: correct, wrong: wrong %>
<% end %>