<% @questions.each do |question| %>
    <h2><b>Please read the following question and answer accordingly</b></h2>
    <h3>Q: <%= question.question_string %></h3>
    <%= render 'answers/form', question: question %>
<% end %>