<tr>
  <td align="left" valign="top" style="padding-left: 0px; padding-bottom: 10px; padding-top: 0px; padding-right: 0px;">
    Hey <%= @user.first_name %>,
  </td>
</tr>  <tr>
  <td align="left" valign="top" style="padding-left: 0px; padding-bottom: 10px; padding-top: 0px; padding-right: 0px;">There user who submitted a new photo!
    We just wanted to let you know that you have been added to a class!
  </td>
</tr>
<tr>
  <td align="left" valign="top" style="padding-left: 0px; padding-bottom: 10px; padding-top: 0px; padding-right: 0px;">
    Have a nice day!
  </td>
</tr>