<tr style="background-color: #161817;">
  <td valign="top" width="100%" style="float: left;padding-left: 0px; padding-bottom: 0px; padding-top: 0px; padding-right: 0px;">
    <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailFooterConnectText">
      <tr>
        <td align="left" valign="top" width="70%" style="font-family: Arial; font-size: 9pt; color: #ffffff; float: left; padding-bottom: 10px; padding-top: 10px; padding-left: 10px; padding-right: 10px;">
          If you have any questions send us an email at <a style="color: lightblue;" href="mailto:some_email@vocab.org">some_email@vocab.org</a>
        </td>
        <td align="right" width="20%" style="float: right; padding-bottom: 0px; padding-top: 0px; padding-left: 0px; padding-right: 10;">
          <%= link_to (image_tag "http://www.nationalbeautyinstitute.com/images/facebook.png", style: 'width: 50px; height: auto;'), 'https://www.facebook.com' %>
          <%= link_to (image_tag "http://www.doctordigital.com.ar/main/images/twitter-logo-white.png", style: 'width: 50px; height: auto;'), 'https://twitter.com' %>
        </td>
      </tr>
    </table>
  </td>
</tr>