<tr>
  <td align="center" valign="top" style="padding-left: 0px; padding-bottom: 0px; padding-top: 0px; padding-right: 0px;">
    <%= image_tag 'http://i.imgur.com/ZDGDzx0.png?1', style: 'width: 600px; height: auto;'%>
  </td>
</tr>