<h1>Editing Lesson Extension</h1>

<%= render 'form' %>

<%= link_to 'Show', course_lesson_lesson_extension_path(@lesson_extension, course_id: @course.id, lesson_id: @lesson.id) %> |
<%= link_to 'Back', course_lesson_lesson_extensions_path(course_id: @course.id, lesson_id: @lesson.id) %>
