<h1>Editing Event</h1>

<%= render 'form' %>

<%= link_to 'Show', course_events_path(@event, course_id: @event.lesson.course.id ) %> |
<%= link_to 'Back', course_events_path(course_id: @event.lesson.course.id) %>
