<h1>current_grade <%= grade %></h1>
<% modified_grade = grade_modifier.modified_grade_value.nil? ? 0 : grade_modifier.modified_grade_value %>
<%= render 'grade_modifiers/form', grade_modifier: grade_modifier, lesson: lesson, course: course, modified_grade: modified_grade, user: user %>
<h1>final_grade <%= grade.to_i + modified_grade %></h1>