<h1>Editing Word Video</h1>

<%= render 'form' %>

<div class="btn-group"
<%= link_to 'Show', @word_video , class:'btn btn-primary' %> |
<%= link_to 'Back', word_videos_path , class:'btn btn-primary' %>
</div>