<p id="notice"><%= notice %></p>

<p>
  <strong>Video link:</strong>
  <%= @word_video.video_link %>
</p>

<%= link_to 'Edit', edit_word_video_path(@word_video) %> |
<%= link_to 'Back', word_videos_path %>
