<% current_user.users_classes(role).order(end_date: :desc).each do |course| %>
    <div class="well well-sm col-sm-6 col-md-4 homepage-courselist-padding">
      <div class="row">
        <h3><%= link_to course.class_name, course %></h3>
      </div>
      <div class="row">
        <p>
          Instructed by: <strong><%= User.with_role(:teacher,course).first.name %></strong>
        </p>
      </div>
      <div class="row">
        <p> <%= course.description %> </p>
      </div>

    </div>
<% end %>







