<div>
    <h1>Course View</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
              <th>Student Name</th>
              <th colspan="2">Lesson 1 </th>
              <th colspan="2">Lesson 2 </th>
            </tr>

              <tr>
                <th></th>
                <th>grade </th>
                <th>time</th>
                <th>grade </th>
                <th>time</th>
              </tr>
        </thead>

        <tbody>
            <tr>
              <td>Bob</td>
              <td>95</td>
              <td>30 sec</td>
            </tr>

            <tr>
              <td>Fred</td>
              <td>83</td>
              <td>30 sec</td>
            </tr>

            <tr>
              <td>Tom</td>
              <td>0</td>
              <td>0 sec</td>
            </tr>
        </tbody>
    </table>


  <h1>Lesson View</h1>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Student Name</th>
      <th colspan="2"> Module 1 </th>
      <th colspan="2"> Module 2 </th>
    </tr>

    <tr>
      <th></th>
      <th>grade </th>
      <th>time</th>
      <th>grade </th>
      <th>time</th>
    </tr>
    </thead>

    <tbody>
        <tr>
          <td>Bob</td>
          <td>95</td>
          <td>30 sec</td>
        </tr>

        <tr>
          <td>Fred</td>
          <td>83</td>
          <td>30 sec</td>
        </tr>

        <tr>
          <td>Tom</td>
          <td>0</td>
          <td>0 sec</td>
        </tr>
    </tbody>
  </table>



  <h1>Module View</h1>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Student Name</th>
      <th colspan="11">Question 1 </th>
      <th colspan="2">Question 2 </th>
    </tr>

    <tr>
      <th></th>
      <th colspan="3">Answer 1 </th>
      <th colspan="3">Answer 2</th>
      <th colspan="3">Answer 3 </th>
      <th colspan="2">Total Grade</th>
    </tr>
    <tr>
      <th></th>
      <!-- Answer 1 -->
      <th colspan="1">Choice</th>
      <th colspan="1">Correct</th>
      <th colspan="1">Time</th>
      <!-- Answer 2 -->
      <th colspan="1">Choice</th>
      <th colspan="1">Correct</th>
      <th colspan="1">Time</th>
      <!-- Answer 3 -->
      <th colspan="1">Choice</th>
      <th colspan="1">Correct</th>
      <th colspan="1">Time</th>
      <!-- Total Grade -->
      <th>grade </th>
      <th>time</th>
    </tr>
    </thead>
        <tbody>
        <tr>
          <td>Bob</td>
          <td>A</td>
          <td>X</td>
          <td>5 sec</td>
          <td>B</td>
          <td>X</td>
          <td>5 sec</td>
          <td>C</td>
          <td>X</td>
          <td>5 sec</td>
          <td>0%</td>
          <td>15 sec</td>
        </tr>

        <tr>
          <td>Fred</td>
          <td>A</td>
          <td>X</td>
          <td>5 sec</td>
          <td>D</td>
          <td>0</td>
          <td>10 sec</td>
          <td colspan="3">-</td>
          <td>100%</td>
          <td>15 sec</td>
        </tr>

        <tr>
          <td>Tom</td>
          <td colspan="3">-</td>
          <td colspan="3">-</td>
          <td colspan="3">-</td>
          <td>0%</td>
          <td>0 sec</td>
        </tr>
    </tbody>
  </table>

</div>