<h1>Editing Word Root</h1>

<%= render 'form' %>

<div class="btn-group">
<%= link_to 'Show', @word_root , class:'btn btn-primary' %> |
<%= link_to 'Back', word_roots_path , class:'btn btn-primary' %>
</div>