// Place all the styles related to the words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.form-controls-padding{
   padding: 2px 2px 2px 2px;
   padding-left: 2px;
   padding-right: 2px;
}

.remove_fields{
  margin-top: 2px;
}
