<%= render 'questions/bubble_header', questions: @lesson_module.questions, question: nil %>

<% @lesson_module.questions.each do |question| %>
    <% correct, wrong = question.check_user(current_user.id) %>
    <h3 class="<%= question_title(correct, wrong) %>"><%= question.question_string %></h3>
    <%= render 'answers/form', question: question, disable: ( correct || wrong ), correct: correct, wrong: wrong %>
<% end %>