<footer>
  <div class="container">
    <hr>
    <div class="col-xl-4 col-md-4 col-xs-4">
      Column 1
    </div>
    <div class="col-xl-4 col-md-4 col-xs-4">
      Column 2
    </div>
    <div class="col-xl-4 col-md-4 col-xs-4">
      Column 3
    </div>
  </div>
</footer>