<div class="container-fluid col-sm-3 col-md-2 nopadding">
  <div class="row row-offcanvas row-offcanvas-left sidebar">
    <div class="col-sm-12 col-md-12 sidebar-offcanvas" id="sidebar" role="navigation">
      <%= render 'layouts/sidebar_navigation_links' %>
    </div>
  </div>
</div>

<!--Found basics for this at http://www.bootply.com/gkTHCwjLO9-->

