<ul class="nav nav-list" id="accordion1">
  <li class="panel">
    <a data-toggle="collapse" data-parent="#accordion1" href="#class_list">Class List</a>
    <ul id="class_list" class="collapse panel-collapse in">
      <li>Email Class</li>
      <li>Update List</li>
    </ul>
  </li>
  <li class="panel">
    <a data-toggle="collapse" data-parent="#accordion1" href="#manage_lessons">Manage Lessons</a>
  </li>
  <li class="panel">
    <a data-toggle="collapse" data-parent="#accordion1" href="#resources">Resources</a>
    <ul id="resources" class="collapse panel-collapse in">
      <li>Syllabus</li>
      <li>Course Description</li>
      <li>Schedule</li>
    </ul>
  </li>
  <li class="panel">
    <a data-toggle="collapse" data-parent="#accordion1" href="#grade_book">Grade Book</a>
  </li>
  <li class="panel">
    <a data-toggle="collapse" data-parent="#accordion1" href="#reports">Reports</a>
  </li>
  <li class="panel">
    <a data-toggle="collapse" data-parent="#accordion1" href="#dictionary">Dictionary</a>
  </li>

</ul>